.DS_Store
node_modules
public/bundle.*
dist/
public/service-worker.js
src/licenses.json
public/precache-manifest.*
public/workbox-*
public/fonts

mobile/platforms/
mobile/plugins/
mobile/node_modules/
mobile/www/*