.DS_Store
node_modules
public/bundle.*
dist/
public/service-worker.js
src/licenses.json
public/precache-manifest.*
public/fonts
installer/OmniaWrite-*
deskgap/*
!deskgap/deskgap.js
!deskgap/package.json
!installer/repository/feeds/.git/