{
  "arrowParens": "avoid",
  "semi": true,
  "tabWidth": 2,
  "svelteSortOrder" : "scripts-markup-styles",
  "svelteStrictMode": false,
  "svelteBracketNewLine": false,
  "svelteAllowShorthand": true
}