<?xml version='1.0' encoding='utf-8'?>
<widget id="com.omniawrite.app" version="1.0.6" xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0">
    <name>OmniaWrite</name>
    <description>
        OmniaWrite is a next-generation plain text editor engineered for creative writing. It is perfect for writing novels, lyrics, poems, essays, drafts and screenplays.
    </description>
    <author email="info@omniawrite.com" href="https://omniawrite.com">
        OmniaWrite
    </author>
    <content src="index.html" />
    <splash src="splash.png" />
    <icon src="icon.png" />
    <preference name="DisallowOverscroll" value="true" />
    <preference name="android-minSdkVersion" value="28" />
    <plugin name="cordova-plugin-whitelist" spec="1.3.4" source="npm" />
    <access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
    <platform name="android">
        <allow-intent href="market:*" />
    </platform>
    <platform name="ios">
        <allow-intent href="itms:*" />
        <allow-intent href="itms-apps:*" />
    </platform>
    <preference name="Fullscreen" value="true" />
    <preference name="Orientation" value="portrait" />
</widget>
