@import url("https://fonts.googleapis.com/css?family=IBM+Plex+Sans|IBM+Plex+Mono&display=swap");
html {
  -webkit-tap-highlight-color: transparent;
}

body {
  --text-color: #fff;
  --background-color: #1b2a32;
  --primary-color: #5b3451;
  --secondary-color: #17242b;
  --menu-active: #324f62;
  --menu-hover: #28404d;
  margin: 0;
  font-family: 'IBM Plex Sans', sans-serif;
  color: var(--text-color);
  background-color: var(--background-color);
  height: 100vh;
}

body.light {
  --text-color: #575757;
  --background-color: #fafafa;
  --primary-color: #5b3451;
  --secondary-color: #fff;
  --menu-active: #d8e3e9;
  --menu-hover: #ededed;
}

a {
  color: var(--text-color);
}

.container {
  height: 100vh;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto;
      grid-template-columns: auto;
  -ms-grid-rows: 6rem auto;
      grid-template-rows: 6rem auto;
      grid-template-areas: "header" "content";
}

header {
  background-color: var(--primary-color);
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: header;
  text-align: center;
  -webkit-user-select: none;
  -webkit-app-region: drag;
}

header .logo-mobile img {
  height: 4rem;
}

header nav.header {
  height: 4rem;
}

header .navigation {
  height: 100vh;
}

header .navigation ul.menu {
  background-color: var(--background-color);
  margin: 0;
  padding: 0;
  width: 70%;
  height: 100%;
  list-style-type: none;
  float: right;
  text-align: center;
  overflow-y: auto;
}

header .navigation ul.menu li {
  -webkit-app-region: no-drag;
}

header .navigation ul.menu li a {
  font-size: 1rem;
  text-decoration: none;
  display: block;
  padding: 1.5rem 2rem;
  opacity: .65;
}

header .navigation ul.menu li a:hover {
  opacity: 1;
}

header .navigation ul.menu .close {
  font-size: 2rem;
  position: fixed;
  top: .5rem;
  left: 1.5rem;
}

header .navigation ul.menu li.active {
  background: rgba(255, 255, 255, 0.15);
}

header .navigation ul.menu li.active a {
  opacity: 1;
}

.burger {
  float: left;
  font-size: 1.5rem;
  height: 4rem;
  width: 4rem;
  border: 0;
  color: #fafafa;
  background: rgba(0, 0, 0, 0);
}

.mobile {
  float: right;
  font-size: 1.5rem;
  height: 4rem;
  width: 4rem;
  border: 0;
  color: #fafafa;
  background: rgba(0, 0, 0, 0);
}

.tabs {
  background-color: var(--secondary-color);
  -webkit-box-shadow: 0 -1px 0 #495865 inset;
          box-shadow: 0 -1px 0 #495865 inset;
  text-align: left;
  width: 100vw;
}

.tabs ul {
  list-style-type: none;
  overflow-y: scroll;
  height: 2rem;
  margin: 0;
  padding: 0;
  list-style-position: inside;
  white-space: nowrap;
}

.tabs ul li {
  font-size: .9rem;
  line-height: 2rem;
  margin-right: .5rem;
  display: inline-block;
  opacity: .65;
}

.tabs ul li a {
  padding: 0 .5rem;
  text-decoration: none;
}

.tabs ul li i {
  margin-bottom: 3px;
  font-size: 1rem;
}

.tabs ul li.active {
  opacity: 1;
  -webkit-box-shadow: 0 -3px 0 #4aaed9 inset;
          box-shadow: 0 -3px 0 #4aaed9 inset;
  -webkit-transition: -webkit-box-shadow .2s ease-in;
  transition: -webkit-box-shadow .2s ease-in;
  transition: box-shadow .2s ease-in;
  transition: box-shadow .2s ease-in, -webkit-box-shadow .2s ease-in;
}

.tabs ul li:hover {
  -webkit-box-shadow: 0 -3px 0 #4aaed9 inset;
          box-shadow: 0 -3px 0 #4aaed9 inset;
  -webkit-transition: -webkit-box-shadow .2s ease-in;
  transition: -webkit-box-shadow .2s ease-in;
  transition: box-shadow .2s ease-in;
  transition: box-shadow .2s ease-in, -webkit-box-shadow .2s ease-in;
}

.tabs ul::-webkit-scrollbar {
  width: 0rem;
  height: 0rem;
}

#sidebar {
  scrollbar-color: #0d1316 #19262c;
}

#sidebar ul.menu {
  background-color: var(--background-color);
  margin: 0;
  padding: 0;
  width: 70%;
  height: 100vh;
  float: left;
  overflow-y: auto;
}

#sidebar ul.menu li {
  cursor: pointer;
}

#sidebar ul.menu li a,
#sidebar ul.menu li span {
  text-decoration: none;
  opacity: .65;
}

#sidebar ul.menu .parent {
  display: block;
  width: 100%;
}

#sidebar ul.menu .parent .key {
  display: block;
  padding: 1rem;
  font-weight: bold;
}

#sidebar ul.menu .parent .key .collapse {
  float: right;
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
}

#sidebar ul.menu .parent .key .action {
  visibility: visible;
  float: right;
  margin-right: 1em;
  opacity: 0.65;
}

#sidebar ul.menu .parent .key:hover {
  opacity: 1;
  background-color: var(--menu-hover);
}

#sidebar ul.menu .parent ul {
  padding: 0;
  display: none;
}

#sidebar ul.menu .parent ul li {
  padding: .5rem 0 .5rem 2rem;
}

#sidebar ul.menu .parent ul li .btn-group {
  margin: 0;
}

#sidebar ul.menu .parent ul li .btn-group button {
  font-size: .75rem;
  border-radius: .125rem;
  height: 1.5rem;
}

#sidebar ul.menu .parent ul li .action {
  visibility: visible;
  float: right;
  margin-right: 1em;
  opacity: 0.65;
}

#sidebar ul.menu .parent ul li:hover {
  background-color: var(--menu-hover);
}

#sidebar ul.menu .parent ul li:hover a,
#sidebar ul.menu .parent ul li:hover span {
  opacity: 1;
}

#sidebar ul.menu .parent ul li.active {
  background-color: var(--menu-active);
}

#sidebar ul.menu .parent ul li.active a {
  opacity: 1;
}

#sidebar ul.menu .parent.open ul {
  display: block;
}

#sidebar ul.menu .parent.open .key .collapse {
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
}

#sidebar ul.menu .close {
  font-size: 2rem;
  position: fixed;
  top: .5rem;
  right: 1.5rem;
}

.navigation {
  overflow-y: auto;
  width: 100%;
  visibility: hidden;
  position: absolute;
  top: 0;
  z-index: 10;
}

.navigation.active {
  visibility: visible;
}

.menu .backdrop {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.85);
  z-index: -1;
}

@media (min-width: 960px) {
  .menu .backdrop {
    display: none;
  }
}

.content {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: content;
  overflow: auto;
  scrollbar-color: #0d1316 #19262c;
}

.content .inner {
  padding: 1rem;
}

.content.focus {
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background: #1b2a32;
  z-index: 99;
}

.btn-group {
  margin: 1rem;
}

.btn-group button {
  border: 1px solid;
  padding: .25em 1em;
  cursor: pointer;
  float: left;
  border-color: #0077b8;
  background-color: #0077b8;
  color: var(--text-color);
  opacity: .65;
  font-size: 1rem;
  height: 2rem;
}

.btn-group button .spinner {
  display: none;
  -webkit-animation: spin 2s infinite linear;
  animation: spin 2s infinite linear;
}

.btn-group button.loading .spinner {
  display: inline-block;
}

.btn-group button.warning {
  border-color: #e02200;
  background-color: #e02200;
}

.btn-group button.warning:hover {
  background-color: #c72100;
}

.btn-group button:hover {
  opacity: 1;
}

.btn-group button:not(:last-child) {
  border-right: none;
}

.btn-group:after {
  content: "";
  clear: both;
  display: table;
}

.field {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 1rem 0;
}

.field label {
  width: 6rem;
}

.field .big {
  width: 12rem;
}

.field input[type=text],
.field input[type=email],
.field input[type=password] {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  margin: 0;
  padding: 0 .25rem;
  border: none;
  border-radius: 0;
  -webkit-box-shadow: none;
          box-shadow: none;
  background: 0 0;
  height: 1.2rem;
  color: #fff;
  display: inline-block;
  border-bottom: 1px solid #999;
  max-height: 1.2rem;
  font-size: 1rem;
  opacity: .65;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(95%, transparent), color-stop(95%, #0092d1)) no-repeat;
  background: linear-gradient(to bottom, transparent 95%, #0092d1 95%) no-repeat;
  background-size: 0 100%;
  -webkit-transition: background-size .2s ease;
  transition: background-size .2s ease;
}

.field input[type=text]:focus,
.field input[type=email]:focus,
.field input[type=password]:focus {
  border-bottom: 1px solid #0092d1;
  background-size: 100% 100%;
  outline: 0;
  opacity: 1;
}

.field textarea {
  max-width: calc(100% - .25rem);
  width: calc(100% - .25rem);
  height: auto;
  resize: vertical;
  background: none;
  border: 1px solid #999;
  color: #fff;
  border-radius: .125rem;
  padding: calc(.25rem + 2px) 0.5rem;
}

.field input[type=search] {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  margin: 0;
  padding: 0 .25rem;
  border: none;
  border-radius: 0;
  -webkit-box-shadow: none;
          box-shadow: none;
  background: 0 0;
  height: 1.2rem;
  color: #fff;
  display: inline-block;
  border-bottom: 1px solid #999;
  max-height: 1.2rem;
  font-size: 1rem;
  opacity: .65;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(95%, transparent), color-stop(95%, #0092d1)) no-repeat;
  background: linear-gradient(to bottom, transparent 95%, #0092d1 95%) no-repeat;
  background-size: 0 100%;
  -webkit-transition: background-size .2s ease;
  transition: background-size .2s ease;
  width: 100%;
  text-align: center;
}

.field input[type=search]:focus {
  border-bottom: 1px solid #0092d1;
  background-size: 100% 100%;
  outline: 0;
  opacity: 1;
}

select#focusSceneSelect {
  display: none;
  background-color: #1b2a31;
  width: auto;
  font-size: 1rem;
  font-weight: bold;
  color: #fff;
  text-align: center;
  -webkit-appearance: none;
  border: 0;
  cursor: pointer;
}

select#focusSceneSelect:focus,
select#focusSceneSelect:active {
  border: 0;
  outline: 0;
}

select#focusSceneSelect.active {
  display: unset !important;
}

.grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(350px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
}

.grid > div {
  background: #28404d;
  border: 2px solid #495865;
  color: white;
  margin: 1em;
  padding: 1em;
  cursor: pointer;
  opacity: .65;
  white-space: pre-line;
}

.grid > div h2 {
  margin: 0 0 1rem 0;
}

.grid > div.new {
  text-align: center;
  font-size: 3rem;
}

.grid > div:hover {
  opacity: 1;
}

.tooltip {
  position: relative;
  display: inline-block;
  overflow: visible;
}

.tooltip .tooltiptext {
  font-size: 1rem;
  visibility: hidden;
  color: #fff;
  font-weight: 400;
  letter-spacing: normal;
  background: #000;
  border-radius: 0 .125rem .125rem;
  line-height: 1rem;
  margin: .7rem 0 0;
  padding: .375rem .5rem;
  position: absolute;
  bottom: auto;
  top: 100%;
  left: 50%;
  right: auto;
  opacity: 0;
  -webkit-transition: opacity .3s linear;
  transition: opacity .3s linear;
  white-space: normal;
  z-index: 1070;
}

.tooltip .tooltiptext::after {
  position: absolute;
  top: -.35rem;
  left: 0;
  bottom: auto;
  right: auto;
  content: "";
  border-left: .25rem solid #000;
  border-bottom: .2rem solid #000;
  border-right: .25rem solid transparent;
  border-top: .2rem solid transparent;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}

::-webkit-scrollbar {
  width: 1rem;
  height: 1rem;
}

::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0.1);
}

::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.5);
}

@media (min-width: 960px) {
  .container {
    height: 100vh;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 300px auto;
        grid-template-columns: 300px auto;
    -ms-grid-rows: 6rem auto;
        grid-template-rows: 6rem auto;
        grid-template-areas: "header header" "sidebar content";
  }
  header {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-area: header;
  }
  header .logo-mobile {
    display: none;
  }
  header .navigation {
    display: block;
    visibility: initial;
    height: 4rem;
  }
  header .navigation ul.menu {
    background-color: unset;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    height: 4rem;
    float: left;
  }
  header .navigation ul.menu li {
    line-height: 4rem;
    float: left;
  }
  header .navigation ul.menu li a {
    display: block;
    text-align: center;
    text-decoration: none;
    padding: 0 1rem;
  }
  header .navigation ul.menu li a img {
    height: 4rem;
  }
  #sidebar.navigation {
    background-color: var(--secondary-color);
    top: 0;
    position: initial;
    visibility: initial;
    height: calc(100vh - 6rem);
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    grid-area: sidebar;
  }
  #sidebar.navigation .menu {
    padding: 0;
    width: 100%;
    height: 100%;
    overflow-y: initial;
    background-color: var(--secondary-color);
  }
  #sidebar.navigation .menu .parent .key .action {
    visibility: hidden;
  }
  #sidebar.navigation .menu .parent .key:hover .action {
    visibility: visible;
  }
  #sidebar.navigation .menu .parent .key:hover .action:hover {
    opacity: 1;
  }
  #sidebar.navigation .menu .parent ul li .action {
    visibility: hidden;
  }
  #sidebar.navigation .menu .parent ul li:hover .action {
    visibility: visible;
  }
  #sidebar.navigation .menu .parent ul li:hover .action:hover {
    opacity: 1;
  }
  #sidebar.navigation.focus {
    z-index: 99999;
  }
  .content {
    -ms-grid-row: 2;
    -ms-grid-column: 2;
    grid-area: content;
    overflow: auto;
  }
  .close,
  .burger,
  .mobile {
    display: none;
  }
}

#snackbar {
  /* Hidden by default. Visible on click */
  min-width: 250px;
  /* Set a default minimum width */
  margin-left: -125px;
  /* Divide value of min-width by 2 */
  background-color: #333;
  /* Black background color */
  color: #fff;
  /* White text color */
  text-align: center;
  /* Centered text */
  border-radius: 2px;
  /* Rounded borders */
  padding: 16px;
  /* Padding */
  position: fixed;
  /* Sit on top of the screen */
  z-index: 1;
  /* Add a z-index if needed */
  left: 50%;
  /* Center the snackbar */
  bottom: 30px;
  /* 30px from the bottom */
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}

@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}

.lds-ellipsis {
  display: inline-block;
  position: relative;
  width: 64px;
  height: 64px;
}

.lds-ellipsis div {
  position: absolute;
  top: 27px;
  width: 11px;
  height: 11px;
  border-radius: 50%;
  background: #fff;
  -webkit-animation-timing-function: cubic-bezier(0, 1, 1, 0);
          animation-timing-function: cubic-bezier(0, 1, 1, 0);
}

.lds-ellipsis div:nth-child(1) {
  left: 6px;
  -webkit-animation: lds-ellipsis1 0.6s infinite;
          animation: lds-ellipsis1 0.6s infinite;
}

.lds-ellipsis div:nth-child(2) {
  left: 6px;
  -webkit-animation: lds-ellipsis2 0.6s infinite;
          animation: lds-ellipsis2 0.6s infinite;
}

.lds-ellipsis div:nth-child(3) {
  left: 26px;
  -webkit-animation: lds-ellipsis2 0.6s infinite;
          animation: lds-ellipsis2 0.6s infinite;
}

.lds-ellipsis div:nth-child(4) {
  left: 45px;
  -webkit-animation: lds-ellipsis3 0.6s infinite;
          animation: lds-ellipsis3 0.6s infinite;
}

@-webkit-keyframes lds-ellipsis1 {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes lds-ellipsis1 {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@-webkit-keyframes lds-ellipsis3 {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
}

@keyframes lds-ellipsis3 {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
}

@-webkit-keyframes lds-ellipsis2 {
  0% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  100% {
    -webkit-transform: translate(19px, 0);
            transform: translate(19px, 0);
  }
}

@keyframes lds-ellipsis2 {
  0% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  100% {
    -webkit-transform: translate(19px, 0);
            transform: translate(19px, 0);
  }
}
/*# sourceMappingURL=main.css.map */