@font-face {
  font-family: 'Nunito Sans';
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src:
    local('Nunito Sans Regular '),
    local('Nunito Sans-Regular'),
    url('fonts/nunito-sans-latin-400.woff2') format('woff2'),
    url('fonts/nunito-sans-latin-400.woff') format('woff');
}

@font-face {
  font-family: 'Nunito Sans';
  font-style: italic;
  font-display: swap;
  font-weight: 400;
  src:
    local('Nunito Sans Regular italic'),
    local('Nunito Sans-Regularitalic'),
    url('fonts/nunito-sans-latin-400italic.woff2') format('woff2'),
    url('fonts/nunito-sans-latin-400italic.woff') format('woff');
}

@font-face {
    font-family: 'Libre Baskerville';
    src: url('fonts/LibreBaskerville-Bold.woff2') format('woff2'),
        url('fonts/LibreBaskerville-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Libre Baskerville';
    src: url('fonts/LibreBaskerville-Italic.woff2') format('woff2'),
        url('fonts/LibreBaskerville-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Libre Baskerville';
    src: url('fonts/LibreBaskerville-Regular.woff2') format('woff2'),
        url('fonts/LibreBaskerville-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
