/*.field {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: 1rem 0;

  label {
    flex: 0 1 12rem;
    min-width: 6rem;
    padding-right: 1rem;
    text-align: left;
  }

  .big {
    min-width: 8rem;
    max-width: fit-content;
  }

  input,
  select,
  p {
    flex: 0 1 12rem;
  }

  input[type=text],
  input[type=email],
  input[type=password] {
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    -o-appearance: none;
    margin: 0;
    padding: 0 .25rem;
    border: none;
    border-radius: 0;
    box-shadow: none;
    background: 0 0;
    height: 1.2rem;
    color: var(--text-color);
    display: inline-block;
    border-bottom: 1px solid #999;
    max-height: 1.2rem;
    font-size: 1rem;
    opacity: .65;
    background: linear-gradient(to bottom, transparent 95%, var(--input-border-color) 95%) no-repeat;
    background-size: 0 100%;
    transition: background-size .2s ease;

    &:focus {
      border-bottom: 1px solid var(--input-border-color);
      background-size: 100% 100%;
      outline: 0;
      opacity: 1;
    }
  }

  textarea {
    max-width: calc(100% - .25rem);
    width: calc(100% - .25rem);
    height: auto;
    resize: vertical;
    background: none;
    border: 1px solid #999;
    color: var(--text-color);
    border-radius: .125rem;
    padding: calc(.25rem + 2px) .5rem;
  }

  select {
    background-color: var(--select-background);
    width: auto;
    font-size: 1rem;
    color: var(--text-color);
    -webkit-text-fill-color: var(--text-color);
    text-align: center;
    border: 0;
    cursor: pointer;
  }

  input[type=search] {
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    -o-appearance: none;
    margin: 0;
    padding: 0 .25rem;
    border: none;
    border-radius: 0;
    box-shadow: none;
    background: 0 0;
    height: 2rem;
    color: var(--text-color);
    display: inline-block;
    border-bottom: 1px solid #999;
    max-height: 2rem;
    font-size: 1.5rem;
    opacity: .85;
    background: linear-gradient(to bottom, transparent 95%, var(--input-border-color) 95%) no-repeat;
    background-size: 0 100%;
    transition: background-size .2s ease;
    width: 100%;
    text-align: center;

    &:focus {
      border-bottom: 1px solid var(--input-border-color);
      background-size: 100% 100%;
      outline: 0;
      opacity: 1;
    }
  }
}

[type="checkbox"]:not(:checked),
[type="checkbox"]:checked {
  position: absolute;
  left: -9999px;
}

[type="checkbox"]:not(:checked)+label,
[type="checkbox"]:checked+label {
  position: relative;
  padding-left: 1.95em;
  cursor: pointer;
}

[type="checkbox"]:not(:checked)+label:before,
[type="checkbox"]:checked+label:before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 1.25em;
  height: 1.25em;
  border: 2px solid #ccc;
  background: #fff;
  border-radius: 4px;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, .1);
}

[type="checkbox"]:not(:checked)+label:after,
[type="checkbox"]:checked+label:after {
  content: '\2713\0020';
  position: absolute;
  top: .15em;
  left: .22em;
  font-size: 1.3em;
  line-height: 0.8;
  color: #09ad7e;
  transition: all .2s;
  font-family: 'Lucida Sans Unicode', 'Arial Unicode MS', Arial;
}

[type="checkbox"]:not(:checked)+label:after {
  opacity: 0;
  transform: scale(0);
}

[type="checkbox"]:checked+label:after {
  opacity: 1;
  transform: scale(1);
}

[type="checkbox"]:disabled:not(:checked)+label:before,
[type="checkbox"]:disabled:checked+label:before {
  box-shadow: none;
  border-color: #bbb;
  background-color: #ddd;
}

[type="checkbox"]:disabled:checked+label:after {
  color: #999;
}

[type="checkbox"]:disabled+label {
  color: #aaa;
}

[type="checkbox"]:checked:focus+label:before,
[type="checkbox"]:not(:checked):focus+label:before {
  border: 2px dotted blue;
}

label:hover:before {
  border: 2px solid #4778d9 !important;
}
*/