html {
    -webkit-tap-highlight-color: transparent;
    position: fixed;
    cursor: default;
}

body {
    --text-color: #fff;
    --background-color: #1b2a32;
    --primary-color: #5b3451;
    --secondary-color: #17242b;
    --menu-active: #324f62;
    --menu-link: #fafafa;
    --menu-hover: #28404d;
    --select-background: #1b2a31;
    --button-color: #fff;
    --editor-color: #acbac3;
    --editor-font-size: 0.9rem;
    --input-border-color: #0092d1;
    --snackbar: #000;
    margin: 0;
    font-family: 'IBM Plex Sans', sans-serif;
    color: var(--text-color);
    background-color: var(--background-color);
    height: 100vh;
    position: fixed;

    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    &.light {
        --text-color: #000;
        --background-color: #fafafa;
        --primary-color: #5b3451;
        --secondary-color: #fff;
        --menu-active: #d8e3e9;
        --menu-link: #fafafa;
        --menu-hover: #ededed;
        --select-background: #fafafa;
        --button-color: #fff;
        --editor-color: #484848;
        --snackbar: #fff;
    }
}

a {
    color: var(--text-color);
}

.container {
    height: 100vh;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 6rem auto;
    grid-template-areas: "header""content";
}

header {
    background-color: var(--primary-color);
    grid-area: header;
    text-align: center;
    -webkit-user-select: none;
    -webkit-app-region: drag;

    .logo-mobile img {
        height: 4rem;
    }

    nav.header {
        height: 4rem;
    }

    .navigation {
        height: 100vh;

        ul.menu {
            background-color: var(--primary-color);
            margin: 0;
            padding: 0;
            width: 70%;
            height: 100%;
            list-style-type: none;
            float: right;
            text-align: center;
            overflow-y: auto;

            li {
                -webkit-app-region: no-drag;

                a {
                    color: var(--menu-link);
                    font-size: 1rem;
                    text-decoration: none;
                    display: block;
                    padding: 1.5rem 2rem;
                    opacity: .65;

                    &:hover {
                        opacity: 1;
                    }
                }

                span {
                    color: var(--menu-link);
                    font-size: 1.5rem;
                    text-decoration: none;
                    display: block;
                    padding: 1.5rem 1rem;
                    opacity: .65;

                    &:hover {
                        opacity: 1;
                    }
                }
            }

            .close {
                font-size: 2rem;
                position: fixed;
                top: .5rem;
                left: 1.5rem;
            }

            & li.active {
                background: rgba(255, 255, 255, .15);

                a {
                    opacity: 1;
                }
            }
        }
    }
}

.burger {
    float: left;
    font-size: 1.5rem;
    height: 4rem;
    width: 4rem;
    border: 0;
    color: #fafafa;
    background: rgba(0, 0, 0, 0);
}

.mobile {
    float: right;
    font-size: 1.5rem;
    height: 4rem;
    width: 4rem;
    border: 0;
    color: #fafafa;
    background: rgba(0, 0, 0, 0);
}


.tabs {
    background-color: var(--secondary-color);
    box-shadow: 0 -1px 0 #495865 inset;
    text-align: left;
    width: 100vw;

    ul {
        list-style-type: none;
        overflow-y: scroll;
        height: 2rem;
        margin: 0;
        padding: 0;
        list-style-position: inside;
        white-space: nowrap;

        li {
            font-size: .9rem;
            line-height: 2rem;
            margin-right: .5rem;
            display: inline-block;
            opacity: .65;
            height: 32px;

            a {
                padding: 0 .5rem;
                text-decoration: none;
            }

            span {
                margin-bottom: 3px;
                font-size: 1rem;
            }

            &.active {
                opacity: 1;
                box-shadow: 0 -3px 0 #4aaed9 inset;
                transition: box-shadow .2s ease-in;
            }

            &:hover {
                box-shadow: 0 -3px 0 #4aaed9 inset;
                transition: box-shadow .2s ease-in;
            }
        }

    }

    & ul::-webkit-scrollbar {
        width: 0rem;
        height: 0rem;
    }
}

#sidebar {
    scrollbar-color: rgb(13, 19, 22) rgb(25, 38, 44);

    ul.menu {
        background-color: var(--background-color);
        margin: 0;
        padding: 0;
        width: 70%;
        height: 100vh;
        float: left;
        overflow-y: auto;

        li {
            cursor: pointer;

            a,
            span {
                text-decoration: none;
                opacity: .65;
            }
        }

        .parent {
            display: block;
            width: 100%;

            .key {
                display: block;
                padding: 1rem;
                font-weight: bold;

                .collapse {
                    float: right;
                    transform: rotate(-90deg)
                }

                .action {
                    visibility: visible;
                    float: right;
                    margin-right: 1em;
                    opacity: 0.65;
                }

                &:hover {
                    opacity: 1;
                    background-color: var(--menu-hover);
                }
            }

            ul {
                padding: 0;
                display: none;

                li {
                    padding: .5rem 0 .5rem 2rem;
                    -webkit-user-drag: element;

                    button {
                        font-size: .75rem;
                        border-radius: .125rem;
                        border: 1px solid;
                        padding: .25em 1em;
                        cursor: pointer;
                        float: left;
                        border-color: #0077b8;
                        background-color: #0077b8;
                        color: var(--button-color);
                        opacity: .85;

                        &.hover {
                            opacity: 1;
                        }
                    }

                    .action {
                        visibility: visible;
                        float: right;
                        margin-right: 1em;
                        opacity: 0.65;
                    }

                    &:hover {
                        background-color: var(--menu-hover);

                        a,
                        span {
                            opacity: 1;
                        }
                    }

                    &.active {
                        background-color: var(--menu-active);

                        a {
                            opacity: 1;
                        }
                    }

                    &.draggingElement {
                        opacity: 0.4;
                    }

                    &.over {
                        border-top: 4px solid var(--primary-color);
                    }
                }
            }

            &.open {
                ul {
                    display: block;
                }

                .key .collapse {
                    transform: rotate(0deg);
                }
            }

            &.draggingElement {
                opacity: 0.4;
            }

            &.over {
                border-top: 4px solid var(--primary-color);
            }
        }

        .close {
            font-size: 2rem;
            position: fixed;
            top: .5rem;
            right: 1.5rem;
        }

        hr {
            border-color: var(--menu-hover);
        }
    }
}

.navigation {
    overflow-y: auto;
    width: 100%;
    visibility: hidden;
    position: absolute;
    top: 0;
    z-index: 10;

    &.active {
        visibility: visible;
    }
}

.menu .backdrop {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, .85);
    z-index: -1;

    @media (min-width: 960px) {
        display: none;
    }
}

.content {
    grid-area: content;
    overflow: auto;
    scrollbar-color: rgb(13, 19, 22) rgb(25, 38, 44);
    height: 90vh;

    .inner {
        padding: 1rem;
        text-align: center;
    }

    &.focus {
        position: fixed;
        width: 100vw;
        height: 100vh;
        left: 0;
        top: 0;
        background: var(--background-color);
        z-index: 99;
    }
}

.lnr.spinner {
    display: none;
    -webkit-animation: spin 2s infinite linear;
    animation: spin 2s infinite linear;

    &.loading {
        display: inline-block;
    }
}

.btn-group {
    margin: 1rem;

    button {
        border: 1px solid;
        padding: .25em 1em;
        cursor: pointer;
        float: left;
        border-color: #0077b8;
        background-color: #0077b8;
        color: var(--button-color);
        opacity: .85;
        font-size: 1rem;
        height: 2rem;
        width: -webkit-fill-available;
        min-width: 4rem;

        .spinner {
            display: none;
            -webkit-animation: spin 2s infinite linear;
            animation: spin 2s infinite linear;
        }

        &.loading {
            .spinner {
                display: inline-block;
            }
        }

        &.warning {
            border-color: #e02200;
            background-color: #e02200;

            &:hover {
                background-color: #c72100;
            }
        }

        &:hover {
            opacity: 1;
        }

        &:not(:last-child) {
            border-right: none;
        }
    }

    &:after {
        content: "";
        clear: both;
        display: table;
    }

    button.green {
        border-color: #2e8500;
        background-color: #2e8500;
    }

    button.red {
        border-color: #e02200;
        background-color: #e02200;
    }

    button.outline {
        background-color: var(--background-color);
    }
}

.field {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 1rem 0;

    label {
        min-width: 6rem;
        padding-right: 1rem;
    }

    .big {
        min-width: 8rem;
    }

    input[type=text],
    input[type=email],
    input[type=password] {
        -webkit-appearance: none;
        -moz-appearance: none;
        -ms-appearance: none;
        -o-appearance: none;
        margin: 0;
        padding: 0 .25rem;
        border: none;
        border-radius: 0;
        box-shadow: none;
        background: 0 0;
        height: 1.2rem;
        color: var(--text-color);
        display: inline-block;
        border-bottom: 1px solid #999;
        max-height: 1.2rem;
        font-size: 1rem;
        opacity: .65;
        background: linear-gradient(to bottom, transparent 95%, var(--input-border-color) 95%) no-repeat;
        background-size: 0 100%;
        transition: background-size .2s ease;

        &:focus {
            border-bottom: 1px solid var(--input-border-color);
            background-size: 100% 100%;
            outline: 0;
            opacity: 1;
        }
    }

    textarea {
        max-width: calc(100% - .25rem);
        width: calc(100% - .25rem);
        height: auto;
        resize: vertical;
        background: none;
        border: 1px solid #999;
        color: var(--text-color);
        border-radius: .125rem;
        padding: calc(.25rem + 2px) .5rem;
    }

    select {
        background-color: var(--select-background);
        width: auto;
        font-size: 1rem;
        color: var(--text-color);
        -webkit-text-fill-color: var(--text-color);
        text-align: center;
        border: 0;
        cursor: pointer;
    }

    input[type=search] {
        -webkit-appearance: none;
        -moz-appearance: none;
        -ms-appearance: none;
        -o-appearance: none;
        margin: 0;
        padding: 0 .25rem;
        border: none;
        border-radius: 0;
        box-shadow: none;
        background: 0 0;
        height: 2rem;
        color: var(--text-color);
        display: inline-block;
        border-bottom: 1px solid #999;
        max-height: 2rem;
        font-size: 1.5rem;
        opacity: .85;
        background: linear-gradient(to bottom, transparent 95%, var(--input-border-color) 95%) no-repeat;
        background-size: 0 100%;
        transition: background-size .2s ease;
        width: 100%;
        text-align: center;

        &:focus {
            border-bottom: 1px solid var(--input-border-color);
            background-size: 100% 100%;
            outline: 0;
            opacity: 1;
        }
    }
}

select#focusSceneSelect {
    background-color: var(--select-background);
    width: auto;
    font-size: 1rem;
    font-weight: bold;
    color: var(--text-color);
    text-align: center;
    -webkit-appearance: none;
    border: 0;
    cursor: pointer;
}

select#focusSceneSelect:focus,
select#focusSceneSelect:active {
    border: 0;
    outline: 0;
}

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
}

.grid>div {
    background: var(--background-color);
    border: 2px solid rgba(0, 0, 0, .3);
    color: var(--text-color);
    margin: 1em;
    padding: 1em;
    cursor: pointer;
    opacity: .65;
    white-space: pre-line;
    line-height: 1.5rem;

    h2 {
        margin: 0 0 1rem 0;
    }

    &.new {
        text-align: center;
        font-size: 3rem;
    }

    &:hover {
        opacity: 1;
        transform: scale(1.05);
        z-index: 997;
    }
}

.tooltip {
    position: relative;
    display: inline-block;
    overflow: visible;

    .tooltiptext {
        display: none;

        &::after {
            display: none;
        }
    }
}

span.card {
    position: relative;
    line-break: auto;
    border-bottom: 5px dotted var(--primary-color);

    &:after {
        content: attr(data-card);
        position: absolute;
        bottom: 130%;
        left: -20%;
        background: var(--primary-color);
        padding: .5rem;
        color: var(--menu-link);
        display: none;
        line-height: 1rem;
        min-width: 12rem;
        text-align: left;
        font-size: .8rem;

    }

    &:before {
        content: "";
        position: absolute;
        width: 0;
        height: 0;
        border-top: 1rem solid var(--primary-color);
        border-left: 1rem solid transparent;
        border-right: 1rem solid transparent;
        display: none;
        left: 30%;
        bottom: 90%;
    }

    &:hover {

        &:after {
            bottom: 1.5rem;
            display: inline;
        }

        &:before {
            bottom: 1.1rem;
            display: block;
        }
    }
}

.editpane {
    margin: 0 auto;
    max-width: 800px;
}

.editpane>h1 {
    font-family: 'IBM Plex Mono', monospace;
    text-align: center;
}

#codex-editor {
    &>* {
        -webkit-touch-callout: auto;
        -webkit-user-select: auto;
        -khtml-user-select: auto;
        -moz-user-select: auto;
        -ms-user-select: auto;
        user-select: auto;
    }

    .codex-editor {
        font-family: 'IBM Plex Mono', monospace;
        color: var(--editor-color);
        font-weight: 400;
        font-size: var(--editor-font-size);
        line-height: 2rem;
        text-align: justify;

        .ce-block i {
            font-family: 'IBM Plex Mono',
                monospace;

        }

        .ce-block__content {
            padding: 0;
            max-width: unset;
        }

        .ce-block--focused {
            background-image: unset;
        }

        .ce-paragraph {
            line-height: 2rem;

            q {
                quotes: "„""“"
            }
        }

        .ce-inline-toolbar__dropdown {
            display: none;
        }
    }
}

.nodeText {
    font-family: 'IBM Plex Mono', monospace;
    padding: 5%;
    color: var(--editor-color);
    font-weight: 400;
    font-size: 0.9rem;
    line-height: 2rem;
    text-align: justify;
}

.toolbar {
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    text-align: center;
    background-color: var(--background-color);
    padding: 1rem;
    font-size: 1.5rem;
    cursor: pointer;
    margin-bottom: 2rem;
    z-index: 8;
}

.toolbar>* {
    margin: 0 .5rem;
    opacity: .65;

}

.toolbar>*:hover {
    opacity: 1;
}

.toolbar>span {
    font-size: 1rem;
}

.toolbar>.lnr {
    font-size: unset;
}

@media (max-width: 650px) {
    .ce-block--focused {
        background-image: none;
        background-color: rgba(200, 199, 219, 0);
        margin: 0 -10px;
        padding: 0 10px;
    }
}

@media (min-width: 651px) {
    .codex-editor--narrow .codex-editor__redactor {
        margin: 0;
    }
}

@media (min-width: 1200px) {
    .editpane {
        padding: 10px;
        box-shadow: 0 5px 26px 2px rgba(0, 0, 0, 0.2);
    }

    .nodeText {
        line-height: 2.5rem;
    }

    #codex-editor {
        .codex-editor {
            font-family: 'IBM Plex Mono',
                monospace;
            color: var(--editor-color);
            font-weight: 400;
            font-size: var(--editor-font-size);
            text-align: justify;

            .ce-block__content {
                padding: 0 5%;
                max-width: unset;
            }

            .ce-block--focused {
                background-image: unset;
            }

            .ce-paragraph {
                line-height: 2.5rem;
            }
        }
    }
}

@media (max-width: 960px) {
    .nodeText {
        padding: 0 0 100%;
    }
}

#snackbar {
    width: 100%;
    background-color: var(--snackbar);
    color: var(--text-color);
    text-align: center;
    padding: 1rem;
    position: fixed;
    z-index: 9999;
    bottom: 0;
    right: 0;
}

::-webkit-scrollbar {
    width: 1rem;
    height: 1rem;
}

::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, 0.1);
}

::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, 0.5);
}

@media (min-width: 960px) {

    .container {
        height: 100vh;
        display: grid;
        grid-template-columns: 300px auto;
        grid-template-rows: 6rem auto;
        grid-template-areas: "header header""sidebar content";
    }

    header {
        grid-area: header;

        .logo-mobile {
            display: none;
        }

        .navigation {
            display: block;
            visibility: initial;
            height: 4rem;

            ul.menu {
                background-color: unset;
                list-style-type: none;
                margin: 0;
                padding: 0;
                overflow: hidden;
                height: 4rem;
                float: left;

                li {
                    line-height: 4rem;
                    float: left;

                    a {
                        display: block;
                        text-align: center;
                        text-decoration: none;
                        padding: 0 1rem;

                        & img {
                            height: 4rem;
                        }
                    }
                }
            }
        }
    }

    #sidebar.navigation {
        background-color: var(--secondary-color);
        top: 0;
        position: initial;
        visibility: initial;
        height: calc(100vh - 6rem);
        grid-area: sidebar;

        .menu {
            padding: 0;
            width: 100%;
            height: 100%;
            overflow-y: initial;
            background-color: var(--secondary-color);

            .parent {
                .key {
                    .action {
                        visibility: hidden;
                    }

                    &:hover {
                        .action {
                            visibility: visible;

                            &:hover {
                                opacity: 1;
                            }
                        }
                    }
                }

                ul {
                    li {
                        .action {
                            visibility: hidden;
                        }

                        &:hover {
                            .action {
                                visibility: visible;

                                &:hover {
                                    opacity: 1;
                                }
                            }
                        }
                    }
                }
            }

        }

        &.focus {
            z-index: 99999;
        }
    }

    .content {
        grid-area: content;
        overflow: auto;

        .inner {
            text-align: initial;
        }
    }

    .close,
    .burger,
    .mobile {
        display: none;
    }

    #snackbar {
        width: 18rem;
        border-radius: 1rem;
        bottom: 1rem;
        right: 1rem;
    }

    .tooltip {
        position: relative;
        display: inline-block;
        overflow: visible;

        .tooltiptext {
            display: initial;
            font-family: 'IBM Plex Sans',
                sans-serif;
            font-size: 1rem;
            visibility: hidden;
            color: #fafafa;
            font-weight: 400;
            letter-spacing: normal;
            background: #000;
            border-radius: 0 .125rem .125rem;
            line-height: 1rem;
            margin: .7rem 0 0;
            padding: .375rem .5rem;
            position: absolute;
            bottom: auto;
            top: 100%;
            left: 50%;
            right: auto;
            opacity: 0;
            transition: opacity .3s linear;
            white-space: normal;
            z-index: 1070;

            &::after {
                position: absolute;
                top: -.35rem;
                left: 0;
                bottom: auto;
                right: auto;
                content: "";
                border-left: .25rem solid #000;
                border-bottom: .2rem solid #000;
                border-right: .25rem solid transparent;
                border-top: .2rem solid transparent;
            }
        }

        &:hover {
            .tooltiptext {
                visibility: visible;
                opacity: 1;
            }
        }
    }

    .btn-group {
        margin: 1rem;

        button {
            width: 50%;
            max-width: 14rem;
        }
    }
}

@keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(359deg);
        transform: rotate(359deg);
    }
}

.lds-ellipsis {
    display: inline-block;
    position: relative;
    width: 64px;
    height: 64px;
}

.lds-ellipsis div {
    position: absolute;
    top: 27px;
    width: 11px;
    height: 11px;
    border-radius: 50%;
    background: var(--text-color);
    animation-timing-function: cubic-bezier(0, 1, 1, 0);
}

.lds-ellipsis div:nth-child(1) {
    left: 6px;
    animation: lds-ellipsis1 0.6s infinite;
}

.lds-ellipsis div:nth-child(2) {
    left: 6px;
    animation: lds-ellipsis2 0.6s infinite;
}

.lds-ellipsis div:nth-child(3) {
    left: 26px;
    animation: lds-ellipsis2 0.6s infinite;
}

.lds-ellipsis div:nth-child(4) {
    left: 45px;
    animation: lds-ellipsis3 0.6s infinite;
}

@keyframes lds-ellipsis1 {
    0% {
        transform: scale(0);
    }

    100% {
        transform: scale(1);
    }
}

@keyframes lds-ellipsis3 {
    0% {
        transform: scale(1);
    }

    100% {
        transform: scale(0);
    }
}

@keyframes lds-ellipsis2 {
    0% {
        transform: translate(0, 0);
    }

    100% {
        transform: translate(19px, 0);
    }
}