html {
    -webkit-tap-highlight-color: transparent;
    position: fixed;
    cursor: default;
}

body {
    --text-color: #fff;
    --background-color: #1b2a32;
    --primary-color: #5b3451;
    --secondary-color: #17242b;
    --menu-active: #324f62;
    --menu-link: #fafafa;
    --menu-hover: #28404d;
    --select-background: #1b2a31;
    --button-color: #fff;
    --editor-color: #acbac3;
    --editor-font-size: 0.9rem;
    --input-border-color: #0092d1;
    --snackbar: #000;
    margin: 0;
    font-family: 'Nunito Sans', sans-serif;
    color: var(--text-color);
    background-color: var(--background-color);
    height: 100vh;
    position: fixed;

    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    &.light {
        --text-color: #000;
        --background-color: #fafafa;
        --primary-color: #5b3451;
        --secondary-color: #fff;
        --menu-active: #d8e3e9;
        --menu-link: #fafafa;
        --menu-hover: #ededed;
        --select-background: #fafafa;
        --button-color: #fff;
        --editor-color: #484848;
        --snackbar: #fff;
    }
}

a {
    color: var(--text-color);
}

.container {
    height: 100vh;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 6rem auto;
    grid-template-areas: 'header''content';
}

.burger {
    float: left;
    font-size: 1.5rem;
    height: 4rem;
    width: 4rem;
    border: 0;
    color: #fafafa;
    background: rgba(0, 0, 0, 0);
}

.mobile {
    float: right;
    font-size: 1.5rem;
    height: 4rem;
    width: 4rem;
    border: 0;
    color: #fafafa;
    background: rgba(0, 0, 0, 0);
}

.content {
    grid-area: content;
    overflow: auto;
    scrollbar-color: rgb(13, 19, 22) rgb(25, 38, 44);
    height: 90vh;

    .inner {
        padding: 1rem;
        text-align: center;
    }

    &.focus {
        position: fixed;
        width: 100vw;
        height: 100vh;
        left: 0;
        top: 0;
        background: var(--background-color);
        z-index: 99;
    }
}

.lnr.spinner {
    display: none;
    -webkit-animation: spin 2s infinite linear;
    animation: spin 2s infinite linear;

    &.loading {
        display: inline-block;
    }
}

.btn-group {
    margin: 1rem;
    justify-content: center;
    display: flex;

    button {
        border: 1px solid;
        padding: 0.25em 1em;
        cursor: pointer;
        float: left;
        border-color: #0077b8;
        background-color: #0077b8;
        color: var(--button-color);
        opacity: 0.85;
        font-size: 1rem;
        height: 2rem;
        width: -webkit-fill-available;
        min-width: 4rem;

        .spinner {
            display: none;
            -webkit-animation: spin 2s infinite linear;
            animation: spin 2s infinite linear;
        }

        &.loading {
            .spinner {
                display: inline-block;
            }
        }

        &.warning {
            border-color: #e02200;
            background-color: #e02200;

            &:hover {
                background-color: #c72100;
            }
        }

        &:hover {
            opacity: 1;
        }

        &:not(:last-child) {
            border-right: none;
        }
    }

    &:after {
        content: '';
        clear: both;
        display: table;
    }

    button.green {
        border-color: #2e8500;
        background-color: #2e8500;
    }

    button.red {
        border-color: #e02200;
        background-color: #e02200;
    }

    button.outline {
        background-color: var(--background-color);
    }
}

select#focusSceneSelect {
    background-color: var(--select-background);
    width: auto;
    font-size: 1rem;
    font-weight: bold;
    color: var(--text-color);
    text-align: center;
    -webkit-appearance: none;
    border: 0;
    cursor: pointer;
}

select#focusSceneSelect:focus,
select#focusSceneSelect:active {
    border: 0;
    outline: 0;
}

.editpane {
    margin: 0 auto;
    max-width: 800px;
}

.editpane>h1 {
    font-family: 'IBM Plex Mono', monospace;
    text-align: center;
}

.omnia-editor {
    font-family: 'IBM Plex Mono', monospace;
    color: var(--editor-color);
    font-weight: 400;
    font-size: var(--editor-font-size);
    line-height: 2rem;
    text-align: justify;

    svg {
        fill: var(--editor-color);
    }

    & * {
        -webkit-touch-callout: auto;
        -webkit-user-select: auto;
        -khtml-user-select: auto;
        -moz-user-select: auto;
        -ms-user-select: auto;
        user-select: auto;
    }

    q {
        quotes: '„''“';
    }
}

.toolbar {
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    text-align: center;
    background-color: var(--background-color);
    padding: 1rem;
    font-size: 1.5rem;
    cursor: pointer;
    margin-bottom: 2rem;
    z-index: 8;
}

.toolbar>* {
    margin: 0 0.5rem;
    opacity: 0.65;
}

.toolbar>*:hover {
    opacity: 1;
}

.toolbar>span {
    font-size: 1rem;
}

.toolbar>.lnr {
    font-size: unset;
}

@media (max-width: 650px) {
    .ce-block--focused {
        background-image: none;
        background-color: rgba(200, 199, 219, 0);
        margin: 0 -10px;
        padding: 0 10px;
    }
}

@media (min-width: 651px) {
    .codex-editor--narrow .codex-editor__redactor {
        margin: 0;
    }
}

@media (min-width: 1200px) {
    .editpane {
        padding: 10px;
        box-shadow: 0 5px 26px 2px rgba(0, 0, 0, 0.2);
    }

    .omnia-editor {
        font-weight: 400;
        font-size: var(--editor-font-size);
        line-height: 2.5rem;
        text-align: justify;
    }
}

::-webkit-scrollbar {
    width: 1rem;
    height: 1rem;
}

::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, 0.1);
}

::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, 0.5);
}

@media (min-width: 960px) {
    .container {
        height: 100vh;
        display: grid;
        grid-template-columns: 300px auto;
        grid-template-rows: 6rem auto;
        grid-template-areas: 'header header''sidebar content';
    }

    .content {
        grid-area: content;
        overflow: auto;

        .inner {
            text-align: initial;
        }
    }

    .close,
    .burger,
    .mobile {
        display: none;
    }
}