html {
    overflow-y: scroll;
}

body {
    font-family: sans-serif;
}

#main {
    background: white;
    max-width: 50em;
    margin: 1em auto;
}
h1 {
    text-align: center;
}

.search {
    width: 100%;
}

.app {
    display: flex;
    min-height: 64px;
    align-items: center;
}
.app:nth-child(even) {
    background-color: #EEE;
}

.icon {
    width: 42px;
    flex: 0 0 auto;
    padding: 0.5rem 0 0.5rem 0.5rem;
}

.info {
    flex: 1 1 auto;
    /*flex-grow: 1;*/
    padding: 0.5rem 0 0.5rem 0.5rem;
}
.name {
    font-size: 1.1rem;
    margin: 0;
}
.summary {
    vertical-align: top;
    float: left;
    margin: 0;
}
.subtle {
    color: black;
    text-decoration: none;
}

.actions {
    flex: 0 0 auto;
    padding: 1rem;
}
